# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Binaries & Archives
*.exe
*.bat
*.cmd
*.zip
*.tar.gz

# Local private docs (not to be pushed)
ПОЯСНИТЕЛЬНАЯ_ЗАПИСКА.md
EXPLANATORY_NOTE.md
DOCUMENTATION.md

# OS generated
Thumbs.db
Desktop.ini
.DS_Store

